/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Encabezado de la página */
header {
    background-color: #3E97FF;
    color: white;
    padding: 20px 0;
    width: 100%;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* Contenido principal */
.main-content {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Secciones */
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Botones */
.btn-primary {
    background-color: #3E97FF;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #f0f0f0;
    color: #3E97FF;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover, .btn-secondary:hover {
    transform: scale(1.05);
}

/* Pie de página */
footer {
    background-color: #3E97FF;
    color: white;
    padding: 10px 0;
    width: 100%;
}
